snippet `guard "Header guard"
#ifndef ${1/(\w)?(\W)?/(?1:\u$1)(?2:_)/g}
#define ${1/(\w)?(\W)?/(?1:\u$1)(?2:_)/g}

${0:$1}

#endif // ${1/(\w)?(\W)?/(?1:\u$1)(?2:_)/g}
endsnippet

snippet "`n(ame)?s(pace)?" "Namespace" r
namespace $1
{
	$0
} // namespace $1
endsnippet

snippet `debug "debug"
std::cout << "Value of $1: " << $1 << std::endl;
endsnippet
