snippet _debug "debug"
console.log($1);
endsnippet

snippet _line "Print line number" "snip.line+1" be
console.log('Line `!p
snip.rv = snip.context
`');
endsnippet

snippet _module "Angular module"
angular.module('$1', [
])
;
endsnippet

snippet _focused "Ignore focused tests"
// TODO
// eslint-disable-next-line jasmine/no-focused-tests
endsnippet
